.botao {
    color: white;
}


/*Uma formatação tipo paper, mais limpa e equilibrada do que o componente
paper da MUI*/
.papel {
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.label {
    font-size: medium;
    font-weight: lighter;
    color: lightslategray;
}

.dados {
    font-size: 1em;
    /*font-weight: bold;*/
    color: black;
    /*text-align: center;*/
}

.detalhe {

    color: darkgray;
}

.coisaBoa {
    color: blue;
}

.coisaRuim {
    color: red;
}

.infoAdicionais {
    color: whitesmoke;
    text-align: left;
    /*border: 1px solid lightgray;*/
}

.detalhes {
    border-bottom: 0.1em solid lightgray;
}

.gridContainer {
    display: flex;
    justify-content: center;
    text-align: left;
    margin-bottom: 0;
    margin-top: 5em;
    border-bottom: 1px solid lightgray;
}